@font-face {
  font-family: 'Aeonik';
  font-style: normal;
  font-weight: 400;
  src:
    local('Aeonik'),
    url('../fonts/aeonik/Aeonik-Regular.otf') format('otf');
}

@font-face {
  font-family: 'Aeonik';
  font-style: normal;
  font-weight: 500;
  src:
    local('Aeonik'),
    url('../fonts/aeonik/Aeonik-Medium.otf') format('otf');
}

@font-face {
  font-family: 'Aeonik';
  font-style: normal;
  font-weight: 600;
  src:
    local('Aeonik'),
    url('../fonts/aeonik/Aeonik-Bold.otf') format('otf');
}

@font-face {
  font-family: 'Aeonik';
  font-style: normal;
  font-weight: 700;
  src:
    local('Aeonik'),
    url('../fonts/aeonik/Aeonik-Bold.otf') format('otf');
}
