@font-face {
  font-family: 'Aeonik';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/aeonik/Aeonik-Regular.otf') format('woff');
}

@font-face {
  font-family: 'Aeonik';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/aeonik/Aeonik-Medium.otf') format('woff');
}

@font-face {
  font-family: 'Aeonik';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/aeonik/Aeonik-Bold.otf') format('woff');
}

@font-face {
  font-family: 'Aeonik';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/aeonik/Aeonik-Bold.otf') format('woff');
}
