@font-face {
  font-family: 'Mellow';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Mellow/Mellow-Regular.otf') format('woff');
}

@font-face {
  font-family: 'Mellow';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Mellow/Mellow-Medium.otf') format('woff');
}

@font-face {
  font-family: 'Mellow';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Mellow/Mellow-SemiBold.otf') format('woff');
}

@font-face {
  font-family: 'Mellow';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Mellow/Mellow-Bold.otf') format('woff');
}
